<?xml version="1.0" encoding="utf-8"?>
<robot name="block">
  <link name="block">
    <inertial>
      <mass value="1" />
      <origin xyz="0 0 0 " rpy="0 0 0" />
      <inertia ixx="1" iyy="1" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
    </collision>
  </link>
</robot>